.featured{

    width:100%;
    padding:90px 8%;
    background:#fff;

}

.featured-title{

    text-align:center;
    margin-bottom:60px;

}

.featured-title p{

    color:#b78d45;
    font-weight:600;
    letter-spacing:3px;
    margin-bottom:10px;

}

.featured-title h2{

    font-size:42px;
    color:#222;

}

.product-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:35px;

}

.product-card{

    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;

}

.product-card:hover{

    transform:translateY(-10px);

}

.product-image{

    height:300px;

}

.product-image img{

    width:100%;
    height:100%;
    object-fit:cover;

}

.product-info{

    padding:25px;

}

.product-info h3{

    font-size:22px;
    margin-bottom:15px;

}

.price{

    color:#b78d45;
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;

}

.product-info button{

    width:100%;
    padding:15px;
    border:none;
    background:#b78d45;
    color:#fff;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;

}

.product-info button:hover{

    background:#966f2f;

}