.filter-sidebar{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

position:sticky;

top:120px;

}

.filter-sidebar h2{

font-size:28px;

margin-bottom:25px;

color:#222;

}

.filter-box{

margin-bottom:35px;

}

.filter-box h3{

font-size:20px;

margin-bottom:15px;

color:#444;

}

.filter-box label{

display:flex;

align-items:center;

gap:10px;

margin-bottom:12px;

cursor:pointer;

color:#555;

}

.filter-box input[type="range"]{

width:100%;

margin-top:10px;

}

.filter-box p{

margin-top:10px;

font-size:15px;

color:#777;

}
.clear-filter-btn{

    width:100%;

    margin-top:30px;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#b58b4c;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.clear-filter-btn:hover{

    background:#936d38;
}

@media(max-width:992px){

.filter-sidebar{

position:static;

}

}