.hero{
    width:100%;
    height:90vh;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;

    display:flex;
    align-items:center;
}

.overlay{
    width:100%;
    height:100%;

    background:rgba(0,0,0,.35);

    display:flex;
    align-items:center;
}

.hero-content{

    max-width:650px;

    margin-left:8%;

    color:white;
}

.hero-content span{

    color:#f4d08d;

    letter-spacing:4px;

    font-size:15px;

    font-weight:600;

    text-transform:uppercase;
}

.hero-content h1{

    font-size:68px;

    line-height:1.15;

    margin:20px 0;

    font-weight:700;
}

.hero-content p{

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

    color:#f3f3f3;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.hero-buttons a{

    text-decoration:none;

}
.primary-btn{

    background:#b8873b;

    color:white;

    padding:16px 38px;

    border:none;

    border-radius:40px;

    font-size:18px;

    cursor:pointer;
}

.secondary-btn{

    background:white;

    color:#222;

    padding:16px 38px;

    border:none;

    border-radius:40px;

    font-size:18px;

    cursor:pointer;
}

.primary:hover{

    background:#8d6527;
}

.secondary:hover{

    background:#f3f3f3;
}

/* Laptop */

@media(max-width:1200px){

.hero-content h1{

font-size:55px;

}

}

/* Tablet */

@media(max-width:992px){

.hero{

height:80vh;

}

.hero-content{

padding:0 7%;

}

.hero-content h1{

font-size:45px;

}

.hero-content p{

width:100%;

}

}

/* Mobile */

@media(max-width:768px){

.hero{

height:90vh;

}

.hero-content{

text-align:center;

padding:0 25px;

}

.hero-content h1{

font-size:36px;

line-height:1.3;

}

.hero-buttons{

justify-content:center;

flex-wrap:wrap;

}

}

/* Small Mobile */

@media(max-width:480px){

.hero-content h1{

font-size:30px;

}

.hero-content p{

font-size:15px;

}

.primary-btn,
.secondary-btn{

width:100%;

}

}