/* .search-bar{
    margin-bottom:30px;
}

.search-bar input{

    width:100%;
    padding:16px 20px;

    border:none;
    border-radius:12px;

    background:white;

    font-size:16px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    outline:none;
}

.search-bar input:focus{

    box-shadow:0 15px 35px rgba(0,0,0,.12);

} */